nav h3{
    color: white;
}

#head{
    font-size: 90px;
    color: #5A6268;
    font-family: sans-serif;
}

#guess{
    max-width: 400px;
    margin: 0 auto;
}

#result,#history{
    max-width: 400px;
    margin: 0 auto;
}

.won{
    background-color: #6C757D;
    color: white;
}

.warning{
    background-color: #343A40;
    color: white;
}

.list{
    background-color: #FFFFFF;
    color: black;
}

footer {
    min-height: 57.6px;
    background-color: #dfecfa70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
}